<!DOCTYPE html>
<html ng-app="intro">
<head>
    <title>Angular</title>
    <link rel="stylesheet" type="text/css" href="intro-main.css">
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
    
    <script type="text/javascript" src="intro-main.js"></script>
    
</head>
<body ng-controller="intro-controller">
    <button type="button" ng-click="showH1()">Click me for H1</button>
        <h1>{{showH1}}</h1>
    <button type="button" ng-click="showUL()">Click me for UL</button>
    <ul class="yes"><li>{{li1}}</li><li>{{li2}}</li><li>{{li3}}</li></ul>
</body>
</html>